<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986232874870-ldc06fhd38c2n00ru8kaq4cjajstcmmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986232874870-ldc06fhd38c2n00ru8kaq4cjajstcmmd</string>
	<key>API_KEY</key>
	<string>AIzaSyBrChATqcPd8A1qIkqxcrK2WtJSkmwiZCk</string>
	<key>GCM_SENDER_ID</key>
	<string>986232874870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lottery</string>
	<key>PROJECT_ID</key>
	<string>lottery-910df</string>
	<key>STORAGE_BUCKET</key>
	<string>lottery-910df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986232874870:ios:874b8420e4ae3976293c57</string>
</dict>
</plist>